[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/home/gbdev/wine" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
